{{ define "content" }}

    <div class="post">

      <div class="post-title">
        <p class="footnote">
          {{ if not .Date.IsZero }}
            <time datetime="{{ .Date }}">
              {{ if .Site.Params.dateformatpretty }}
                {{ .Date.Format .Site.Params.dateformatpretty }}
              {{ else }}
                {{ .Date.Format "01-02-2006" }}
              {{ end }}
            </time>
          {{ end }}
        {{ $baseurl := .Site.BaseURL }}

        </p>
        <!-- <h1>{{ if .Draft }}DRAFT: {{end}}{{ .Title }}</h1> -->
      </div>

      <div class="post-content">
        {{ if or .Params.toc (and (eq .Params.toc nil) .Site.Params.toc) -}}
        {{ .TableOfContents }}
        {{- end }}
        {{ replace .Content "<table>" "<table class='pure-table pure-table-striped'>" | safeHTML }}
      </div>
    </div>

<!--
{{ range .Params.Myparams }}
  {{ range $myparam, $data := . }}
    {{ partial ( printf "%s" $myparam ) (dict $myparam $data) }}
  {{ end }}
{{ end }}
-->

{{ end }}
