{{ define "content" }}

<!--
vim-list

{{ range .Params.Myparams }}
  {{ range $myparam, $data := . }}
    {{ partial ( printf "%s" $myparam ) (dict $myparam $data) }}
  {{ end }}
{{ end }}
-->

    <div class="post-content">
      <p class="posts-name">{{ .Title }}:</p>

      <ul class="posts">
        {{ $baseurl := .Site.BaseURL }}
        {{ range where .Site.RegularPages "Type" "vim" }}
        <li>
          {{ if .Draft }}
          DRAFT: 
          {{ end }}
          <a class="post-list" href="{{ .Permalink }}">{{ .Title }}</a>

<!--
          <p class="footnote">
            <time datetime="{{ .Date }}">
              {{ if .Site.Params.dateformatpretty }}
                {{ .Site.Params.dateformatpretty }}
              {{ else }}
                {{ .Date.Format "01-02-2006" }}
              {{ end }}
            </time>
          </p>
-->
        </li>
        {{ end }}
      </ul>
    </div>

{{ end }}
