{{ define "content" }}

<!--
progr-list
-->

<!--
{{ range .Params.Myparams }}
  {{ range $myparam, $data := . }}
    {{ partial ( printf "%s" $myparam ) (dict $myparam $data) }}
  {{ end }}
{{ end }}
-->

    <div class="post-content">
      <p class="posts-name">{{ .Title }}:</p>

      <ul class="posts">
        {{ $baseurl := .Site.BaseURL }}
        {{ range where .RegularPages "Type" "math" }}
        <li>
          {{ if .Draft }}
          DRAFT: 
          {{ end }}
          <a class="post-list" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}

        <!--
        {{ range where .Site.Sections "Type" "vim" }}
        <li>
          {{ if .Draft }}
          DRAFT: 
          {{ end }}
          <a class="post-list" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        -->

        {{ range .Page.Sections }}
        <li>
          {{ if .Draft }}
          DRAFT: 
          {{ end }}
          <a class="post-list" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}

<!--
        {{ range where .Site.Sections "Type" "code" }}
        <li>
          {{ partial "data" . }}
        </li>
        {{ end }}
-->



      </ul>
    </div>

{{ end }}
