{{ define "content" }}

    <div class="post-content">
      <p class="posts-name">{{ .Title }}:</p>

      <ul class="posts">
        {{ $baseurl := .Site.BaseURL }}
        {{ range where .RegularPages "Type" "media" }}
        <li>
          {{ if .Draft }}
          DRAFT: 
          {{ end }}
          <a class="post-list" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}

        <!--
        {{ range where .Site.Sections "Type" "vim" }}
        <li>
          {{ if .Draft }}
          DRAFT: 
          {{ end }}
          <a class="post-list" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        -->

        {{ range .Page.Sections }}
        <li>
          {{ if .Draft }}
          DRAFT: 
          {{ end }}
          <a class="post-list" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}

<!--
        {{ range where .Site.Sections "Type" "code" }}
        <li>
          {{ partial "data" . }}
        </li>
        {{ end }}
-->



      </ul>
    </div>

{{ end }}
