
//$body: #484848;
$body: #ffffff;
//$body: #000000;

//$bg: rgb(252, 252, 252);
//$bg: #ffffff;
//$bg: #000000;

$bg2: rgb(240, 240, 240);
//$bg2: #ffffff;
//$bg2: #000000;

$line: #e3e3e3;
//$line: #ffffff;
//$line: #000000;

/* Dark mode */
//:root {
$color: #d8d8d8;
$color-footnote: rgb(205,205,205);
$color-footer-content: #bbb;
$background-color: #222;
$background-color-code: rgb(30, 30, 30);
$background-color-toggle-content: #121212;
$link-color: #2bc1d5;
$link-color-hover: #2bc1d5;
$list-link-color: #2bc1d5;
$border-navbar-and-footer: #e3e3e3;
//}

//a:visited { color: purple; }

html, body {
  background-color: $background-color;
  color: $color;
  font-size: 16px;
  height: 100%;
  hyphens: auto;
}

body
  :display flex
  :flex-direction column

#wrapper {
  flex: 1 0 auto;
  // color: green;
}

a {
  text-decoration: none;
  color: $body
}

kbd, pre, samp {
  background-color: $bg2;
}

math, semantics {
  margin-top: -2.8rem;
  margin-bottom: -3.2rem;
  line-height: 1rem;
  padding: 0!important;
  height: 1rem;
  max-height: 1rem;
}

mo {
  font-size: 1.1rem;
  margin-top: -1.7rem;
  margin-bottom: 0.7rem;
}

mi, mn {
  padding: 0!important;
  border: 1px solid transparent;
  font-size: 1.1rem;
  margin-top: -0.7rem;
  margin-bottom: 0.7rem;
}

mtr, mtd {
  padding: 0!important;
  border: 1px solid transparent;
  display: block;
  margin-top: -1.6rem;
  margin-bottom: -2.3rem;
}

.nav-menu {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: $line;
}

.pure-menu-item {
//  background-color: blue;
  color: $body;
}

.pure-menu-heading {
////  text-transform: none;
//  font-size: large;
//  color: $body;
}

.pure-menu-link {
////  background-color: unset;
  color: $body;
}

.pure-menu-link:hover {
  background-color: unset;
}


.header {
  text-align: left;
//  color: #484848;
//  color: var(--color);
  margin-bottom: .5em;
}

.header ul li {
  height: auto;
}

.header ul li a {
  font-weight: bold;
//  color: #484848;
//  color: var(--color);
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  font-weight: bold;
//  color: #484848;
//  color: var(--color);
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.site-title {
//  color: #484848;
  color: $body;
  text-transform: none;
  font-weight: normal;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pull-right {
  float: right;
}

.posts-name {
  text-transform: capitalize;
  font-weight: bold;
  //padding-left: 1em;
  margin-top: 1em;
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.posts {
  font-family: verdana, arial, helvetica, sans-serif;
  list-style-type: none;
//  padding-left: 1em;
}

.posts li p {
  margin-top: 0;
}

.posts li {
//  margin-bottom: 1em;
}

.posts li > a {
//  color: $color;
  color: $list-link-color;
  text-decoration: none;
}

.post-list {
  font-size: large;
}

.footnote {
  font-family: verdana, arial, helvetica, sans-serif;
//  color: #575757;
//  color: var(--color-footnote);
  font-size: 0.75em;
  margin-bottom: 0;
}

.footnote a {
//  color: #575757;
//  color: var(--color-footnote);
}

.footnote a:hover {
  text-decoration: underline;
//  color: #369;
//  color: var(--list-link-color);
}

.footer {
  flex-shrink: 0;
  // position: fixed;
  //bottom: 0;
//  left: 0;
//  right: auto;
//  min-height:100%;
//  width: 100%;
  z-index: 2;
//  height: auto;
}

//.footer {
//  position:fixed;
//  bottom:0;
//  left:0;
//  width:100%;
//  height: 90px;
//  background-color: #D0DAEE;
//}

.footer-content {
  border-top-width: 1px;
  border-top-style: solid;
//  border-top-color: #e3e3e3;
//  border-top: 1px solid var(--border-navbar-and-footer);
  font-size: 80%;
//  color: #bbb;
//  color: var(--color-footer-content);
}

.footer-content a {
//  color: #575757;
//  color: var(--color-footnote);
}

.footer-content ul {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  padding-left: 0;
}

///* https://github.com/gohugoio/hugo/issues/1778#issuecomment-451552602 */
//#TableOfContents > ul {
//  list-style: none;
//  margin: 0;
//  padding: 0;
//}

#gototop-btn {
  display: inline-block;
}

#foot-name {
//  color: #484848;
//  color: var(--color);
  text-transform: none;
}

#foot-copyright {
  padding-left: 1em;
  padding-bottom: 0.5em;
  margin: 0;
}

.post {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
//  color: #484848;
//  color: var(--color);
  letter-spacing: normal;
//  padding-left: .5em;
  font-size: 100%;
}

.post h1 {
  font-weight: bold;
  letter-spacing: normal;
//  font-style: italic;
//  color: green;
  //font-size: 150%;
}

.post h2 {
  letter-spacing: normal;
  font-weight: bold;
  //color: DarkGray;
  //font-style: italic;
  //font-size: 150%;
}

.post h3, h4, h5, h6 {
  letter-spacing: normal;
//  color: DarkGray;
  font-weight: bold;
  //font-style: italic;
}

.post-content {
  z-index: 9;
  overflow: auto;
  padding: 0;
  //padding-bottom: 3em;
  font-size: 16px;
  line-height: 1.4;
}

.post-content img {
  max-width: 100%;
  height: auto;
}

.post-content pre {
  //padding: 0.5rem;
}

.post a {
  color: #c05b4d;
//  color: var(--link-color);
  text-decoration: none;
}

.post a:hover {
//  color: #a5473a;
//  color: var(--link-color-hover);
  text-decoration: underline;
}

.post h1 {
  font-size: 2.5rem;
  padding-top: 2.5rem;
}

.post h2 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.post h3 {
  font-size: 1rem;
  padding-top: 1rem;
}

.post-title {
  margin-top: 0;
  margin-bottom: 2em;
}

.post-title h1 {
  font-weight: bold;
  font-size: 39px;
//  line-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  #toggle-btn {
    display: inline-block;
    float: right;
    padding: .5em 1em;
    text-decoration: none;
//    color: #484848;
//    color: var(--color);
    font-weight: bold;
  }

  #toggle-content li {
    clear: both;
    height: auto;
//    background-color: rgb(249, 249, 249);
//    background-color: var(--background-color-toggle-content);
  }

  #toggle-home {
    display: inline-block;
  }
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
