<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Title }}">
  <meta name="author" content="{{ .Site.Author.name }}">

  {{ partial "header" . }}

  {{ if .Params.latex}}{{ partial "latex.html" . }}{{ end }}
</head>
<body>
<div id="wrapper">

<!--
  <div class="pure-g">
    <div class="pure-u-1-24 pure-u-md-3-24"></div>
    <div class="pure-u-11-12 pure-u-md-7-12">

      hello

    </div>
    <div class="pure-u-1-24 pure-u-md-3-24"></div>
  </div>
-->

  <div class="pure-g">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-11-12 pure-u-md-7-12">

      {{ partial "navbar.html" . }}

    </div>
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
  </div>





  <div class="pure-g">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
    <div class="pure-u-1-12 pure-u-md-7-12">

      {{ block "content" . }}{{ end }}

    </div>
    <div class="pure-u-1-24 pure-u-md-1-24"></div>
  </div>

  </div>

  <footer class="pure-g">
    <div class="pure-u-1-24 pure-u-md-1-24"></div>

    <div class="pure-u-1-12 pure-u-md-7-12">
      <div class="pure-u-112 footer">
      {{ partial "footer.html" . }}
      </div>
    </div>

    <div class="pure-u-1-24 pure-u-md-1-24"></div>
  </div>
  </footer>

<script type="text/javascript">
  go();
  window.addEventListener('resize', go);
  function go(){
    var d=document.querySelector(".desktop")
    if(document.documentElement.clientWidth > 768) {
      d.style.display="";
    } else {
      d.style.display="none";
    }
  }
</script>

<script type="text/javascript">
  var a=document.querySelector("#toggle-btn"),b=document.querySelector("#toggle-content");a.addEventListener("click",function(){""==b.style.display?(b.style.display="none",a.innerHTML="☰"):(b.style.display="",a.innerHTML="X")});</script>

</body>

</html>
