{{ define "content" }}

<div class="post-content">
  default list
  <p class="posts-name">{{ .Title }}:</p>

  <ul class="posts">
    {{ $baseurl := .Site.BaseURL }}
    {{ range $name, $page := .Data.Pages }}
    {{ if eq .Type "posts" }}
    <li>
      {{ if .Draft }}
      DRAFT: 
      {{ end }}
      <a class="post-list" href="{{ .Permalink }}">{{ $page.Title }}</a>

      <p class="footnote">
        <time datetime="{{ $page.Date }}">
          {{ if .Site.Params.dateformatpretty }}
            {{ $page.Date.Format .Site.Params.dateformatpretty }}
          {{ else }}
            {{ $page.Date.Format "01-02-2006" }}
          {{ end }}
        </time>
      </p>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>

{{ end }}
