

{{ $dir := .Params.path }}


{{ $lang := .Params.lang }}
{{ range (readDir $dir) }}
    <details>
      <summary>
{{ .Name }}
    {{ $name := .Name | printf "%s/%s" $dir | printf "%s" }}
      </summary>
    {{ highlight (readFile $name) $lang "" }}
    </details>
{{ end }}

