<h3>{{ .data.more }}</h3>

hello

{{ $dir := .index }}
{{ range (readDir $dir) }}
  <div>
    {{ $name := .Name | printf "%s/%s" $dir | printf "%s" }}
    {{ highlight (readFile $name) "c" "" }}
  </div>
{{ end }}

