<div class="footer-content">
  <div class="pure-menu pure-menu-horizontal">
    <ul>
      {{ if .Site.Author.name }}
      <li class="pure-menu-item" id="foot-name">© {{ .Site.Author.name }}</li>
      {{ end }}

      {{ if .Site.Author.email }}
      <li class="pure-menu-item">
        <a href="mailto:{{ .Site.Author.email }}" class="pure-menu-link">Email</a>
      </li>
      {{ end }}

      {{ if .Site.Author.github }}
      <li class="pure-menu-item">
        <a href="https://github.com/{{ .Site.Author.github }}" class="pure-menu-link">GitHub</a>
      </li>
      {{ end }}

      {{ if .Site.Author.twitter }}
      <li class="pure-menu-item">
        <a href="https://twitter.com/{{ .Site.Author.twitter }}" class="pure-menu-link">Twitter</a>
      </li>
      {{ end }}

      {{ if .Site.Author.medium }}
      <li class="pure-menu-item">
        <a href="https://medium.com/@{{ .Site.Author.medium }}" class="pure-menu-link">Medium</a>
      </li>
      {{ end }}

    </ul>
    <a href="#" class="pure-menu-link pull-right" id="gototop-btn">↑↑</a>
    {{ if .RSSLink }}
    <a href="{{ .RSSLink }}" class="pure-menu-link pull-right">RSS</a>
    {{ end }}
  </div>
  {{ if .Site.Copyright }}
  <p id="foot-copyright">{{ .Site.Copyright | safeHTML }}</p>
  {{ end }}
</div>
