<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<noscript>
  <link
  href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet" type="text/css">
<!--  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/fonts.css"> -->
</noscript>

<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/base-min.css">
<link rel="stylesheet"
href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
<link rel="stylesheet"
href="https://unpkg.com/purecss@2.0.3/build/menus-min.css">

{{ $style := resources.Get "scss/custom-base.scss" }}
{{ $components := resources.Match "scss/components/*.scss" }}
{{ range $components }}
  {{ $style = slice $style . | resources.Concat .Name }}
{{ end }}
{{ $style = slice $style | resources.Concat "all.css" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- Icon -->
<link rel="shortcut icon" 
{{ if .Site.Params.faviconfile }}
  href="{{ .Site.Params.faviconfile | absURL }}" 
{{ else }} 
  href="{{ .Site.BaseURL }}img/favicon.ico"
{{ end }}
type="image/x-icon">

<!-- RSS Feed -->
{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Feed" />
{{ end }}
