<link rel="stylesheet" href="{{ .Site.BaseURL }}css/katex.css">
<script type="module" type="text/javascript" src="{{ .Site.BaseURL }}js/katex.js"></script>
<script defer src="{{ .Site.BaseURL }}js/auto-render.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
            delimiters: [{
                    left: "$$",
                    right: "$$",
                    display: true
                },
                {
                    left: "$",
                    right: "$",
                    display: false
                },
            ]
        });
    });
</script>
