<div class="desktop pure-menu pure-menu-horizontal nav-menu">
    {{ $baseurl := .Site.BaseURL }}
    <a href="{{$baseurl}}" class="site-title pure-menu-heading"
        >{{ .Site.Title }}</a
    >
    <ul class="pure-menu-list pull-right">
        <li class="pure-menu-item">
            <a href="{{ $baseurl }}progr/" class="pure-menu-link">Progr</a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ $baseurl }}math/" class="pure-menu-link">Math</a>
        </li>
        <!--
                <li class="pure-menu-item">
                    <a href="{{ $baseurl }}media/"
                      class="pure-menu-link">Media</a>
                </li>
                -->
    </ul>
</div>
<div class="mobile pure-menu nav-menu">
    <a href="{{$baseurl}}" class="site-title pure-menu-heading" id="toggle-home"
        >{{ .Site.Title }}</a
    >
    <a href="#" id="toggle-btn">&#9776;</a>
    <ul class="pure-menu-list" id="toggle-content" style="display: none">
        {{ $baseurl := .Site.BaseURL }}
        <li class="pure-menu-item">
            <a href="{{ .Site.BaseURL }}progr/" class="pure-menu-link">Progr</a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ .Site.BaseURL }}math/" class="pure-menu-link">Math</a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ .Site.BaseURL }}media/" class="pure-menu-link">Media</a>
        </li>
    </ul>
</div>
