{{ define "content" }}

  <div class="post-content">
  {{ .Content }}

  <ul class="posts">
    {{ $baseurl := .Site.BaseURL }}
    {{ range .Site.RegularPages }}

    {{ if eq .Type "posts" }}
      <li>
        {{ if .Draft }}
        DRAFT: 
        {{ end }}

        <a class="post-list" href="{{ .Permalink }}">{{ .Title }}</a>

        <p class="footnote">
          <time datetime="{{ .Date }}">
            {{ if .Site.Params.dateformatpretty }}
              {{ .Date.Format .Site.Params.dateformatpretty }}
            {{ else }}
              {{ .Date.Format "01-02-2006" }}
            {{ end }}
          </time>
        </p>

      </li>
    {{ end }} <!-- if eq -->

    {{ end }} <!-- range -->
  </ul>

  </div>

{{ end }}
